---
swagger: "2.0"
info:
  description: "Chibi power face recognition system"
  version: "1"
  title: "Yc"
host: "yc.api.ink"
basePath: "/v1"
schemes:
- "http"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /phone/login:
    post:
      tags:
      - "phone"
      summary: "phone Product warehousing"
      description: "phone Product warehousing"
      operationId: "phone_login_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/Login"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /phone/outlist:
    post:
      tags:
      - "phone"
      summary: "phone Product warehousing"
      description: "phone Product warehousing"
      operationId: "phone_outlist_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/outlist"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /phone/outcommit:
    post:
      tags:
      - "phone"
      summary: "phone Product warehousing"
      description: "phone Product warehousing"
      operationId: "phone_outcommit_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/outcommit"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /phone/storage:
    post:
      tags:
      - "phone"
      summary: "phone Product warehousing"
      description: "phone Product warehousing"
      operationId: "phone_storage_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/storageData"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /phone/out:
    post:
      tags:
      - "phone"
      summary: "phone Product warehousing"
      description: "phone Product warehousing"
      operationId: "phone_out_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/OutData"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /phone/use:
    post:
      tags:
      - "phone"
      summary: "phone use post"
      description: "phone use post"
      operationId: "phone_use_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/phoneUseLists"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /phone/maintain:
    post:
      tags:
      - "phone"
      summary: "phone maintain post"
      description: "phone maintain post"
      operationId: "phone_maintain_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/phoneMaintainLists"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /phone/token:
    post:
      tags:
      - "phone"
      summary: "phone maintain post"
      description: "phone token post"
      operationId: "phone_token_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/phonetoken"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/phonetokens"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.phone_controller"
  /login:
    post:
      tags:
      - "Login"
      summary: "User Login"
      description: "System User Login"
      operationId: "login_post"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/body"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.login_controller"
  /home/pan:
    get:
      tags:
      - "Home"
      summary: "Index Pan Chart"
      description: "Index Pan Chart"
      operationId: "index_pan_get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/lineone:
    get:
      tags:
      - "Home"
      summary: "Index Lineone Chart"
      description: "Index Lineone Chart"
      operationId: "index_lineone_get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/linetwo:
    get:
      tags:
      - "Home"
      summary: "Index Linetwo Chart"
      description: "Index Linetwo Chart"
      operationId: "index_linetwo_get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/showall:
    get:
      tags:
      - "Home"
      summary: "Index Showall"
      description: "Index Barone Chart"
      operationId: "index_showall_get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/showall/export:
    get:
      tags:
      - "Home"
      summary: "Index Showall"
      description: "Index Barone Chart"
      operationId: "index_showall_export_get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/barone:
    get:
      tags:
      - "Home"
      summary: "Index Barone Chart"
      description: "Index Barone Chart"
      operationId: "index_barone_get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/bartwo:
    get:
      tags:
      - "Home"
      summary: "Index Bartwo Chart"
      description: "Index Bartwo Chart"
      operationId: "home_bartwo_get"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/notice/all_list:
    get:
      tags:
      - "Home"
      summary: "Index Notice list"
      description: "index notice list"
      operationId: "home_notice_all_list_get"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/NoticeList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/notice/list:
    get:
      tags:
      - "Home"
      summary: "Notice list"
      description: "notice list"
      operationId: "home_notice_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "page number"
        required: true
        type: "string"
      - name: "size"
        in: "query"
        description: "Per page display quantity"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/NoticeList2"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/notice/{id}:
    get:
      tags:
      - "Home"
      summary: "Notice desc"
      description: "notice list"
      operationId: "home_notice_get"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "community id"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/NoticeLists2"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/notice:
    post:
      tags:
      - "Home"
      summary: "Notice desc"
      description: "notice list"
      operationId: "home_notice_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/NoticeData"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /complain/twentyFour/chart:
    get:
      tags:
      - "Complain"
      summary: "24-hour complaint daily chart"
      description: "24-hour complaint daily chart"
      operationId: "complain_twenty_four_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/twentyFour/list:
    get:
      tags:
      - "Complain"
      summary: "24-hour complaint daily list"
      description: "24-hour complaint daily list"
      operationId: "complain_twenty_four_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/TwentyList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/twentyFour/list/export:
    get:
      tags:
      - "Complain"
      summary: "24-hour complaint daily list export"
      description: "24-hour complaint daily list export"
      operationId: "complain_twenty_four_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/twentyFour/info/export:
    get:
      tags:
      - "Complain"
      summary: "24-hour complaint daily list export"
      description: "24-hour complaint daily list export"
      operationId: "complain_twenty_four_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/eight/chart:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily chart"
      description: "eight hour complaint daily chart"
      operationId: "complain_eight_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/eight/list:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list"
      description: "eight hour complaint daily list"
      operationId: "complain_eight_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/EightList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/eight/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_eight_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/eight/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_eight_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/emosFirst/chart:
    get:
      tags:
      - "Complain"
      summary: "emos Timely acceptance rate"
      description: "emos Timely acceptance rate"
      operationId: "complain_emos_first_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/EmosFirstChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/emosFirst/list:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list"
      description: "eight hour complaint daily list"
      operationId: "complain_emos_first_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/EmosList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/emosFirst/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_emos_first_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/emosFirst/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_emos_first_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/high/chart:
    get:
      tags:
      - "Complain"
      summary: "High-frequency cell"
      description: "High-frequency cell"
      operationId: "complain_high_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HighChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/high/list:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list"
      description: "eight hour complaint daily list"
      operationId: "complain_high_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HighList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/high/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_high_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/high/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_high_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/high/community/{id}:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_high_community_id_get"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "community id"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HighListCommunityTotal"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/high/column:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_high_column_get"
      produces:
      - "application/json"
      parameters:
      - name: "lat"
        in: "query"
        description: "lat"
        required: true
        type: "string"
      - name: "lon"
        in: "query"
        description: "lon"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HighListCommunityColumn"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/visit/chart:
    get:
      tags:
      - "Complain"
      summary: "Return visit satisfaction"
      description: "Return visit satisfaction"
      operationId: "complain_visit_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/visit/list:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list"
      description: "eight hour complaint daily list"
      operationId: "complain_visit_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/VisitList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/visit/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_visit_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/visit/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_visit_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/malfunction/chart:
    get:
      tags:
      - "Complain"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "complain_malfunction_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/malfunction/list:
    get:
      tags:
      - "Complain"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "complain_malfunction_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/MalfunctionList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/malfunction/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_malfunction_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/malfunction/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_malfunction_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/network/list:
    get:
      tags:
      - "Complain"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "complain_network_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/NetworkList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/network/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_network_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/network/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_network_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/top/chart:
    get:
      tags:
      - "Complain"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "complain_top_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/top/list:
    get:
      tags:
      - "Complain"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "complain_top_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/TopList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/top/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_top_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/top/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_top_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/out/chart:
    get:
      tags:
      - "Complain"
      summary: "Overtime did not reply"
      description: "Overtime did not reply"
      operationId: "complain_out_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/out/list:
    get:
      tags:
      - "Complain"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "complain_out_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/TopList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/out/list/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_out_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /complain/out/info/export:
    get:
      tags:
      - "Complain"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "complain_out_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.complain_controller"
  /installed/twentyFour/chart:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_twenty_four_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/twentyFour/list:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_twenty_four_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/InstalledList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/twentyFour/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_twenty_four_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/twentyFour/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_twenty_four_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/agricultural/chart:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_agricultural_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/agricultural/list:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_agricultural_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/InstalledList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/agricultural/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_agricultural_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/agricultural/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_agricultural_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/eight/chart:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_eight_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/eight/list:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_eight_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/InstalledList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/eight/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_eight_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/eight/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_eight_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/orders/chart:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_orders_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/EmosFirstChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/orders/list:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_orders_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/OrdersList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/orders/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_orders_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/orders/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_orders_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/retreat/chart:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_retreat_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/retreat/list:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_retreat_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/RetreatList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/retreat/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_retreat_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/retreat/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_retreat_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/satisfaction/chart:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_satisfaction_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/satisfaction/list:
    get:
      tags:
      - "Installed"
      summary: "Installed Daily"
      description: "Installed Daily"
      operationId: "installed_satisfaction_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/SatisfactionList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/satisfaction/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_satisfaction_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/satisfaction/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_satisfaction_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/top/chart:
    get:
      tags:
      - "Installed"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "installed_top_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/top/list:
    get:
      tags:
      - "Installed"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "installed_top_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/InstalledTopList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/top/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_top_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/top/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_top_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/out/chart:
    get:
      tags:
      - "Installed"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "installed_out_chart_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/HomeChart"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/out/list:
    get:
      tags:
      - "Installed"
      summary: "Yichang Branch Broadens Fault Daily"
      description: "Yichang Branch Broadens Fault Daily"
      operationId: "installed_out_list_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the user choose type"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/InstalledTopList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/out/list/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_out_list_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: true
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /installed/out/info/export:
    get:
      tags:
      - "Installed"
      summary: "eight hour complaint daily list export"
      description: "eight hour complaint daily list export"
      operationId: "installed_out_info_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "type"
        in: "query"
        description: "the type for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/downUrl"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.installed_controller"
  /upload:
    post:
      tags:
      - "Upload"
      summary: "User Upload"
      description: "User Upload"
      operationId: "upload_post"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/Upload"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.upload_controller"
  /upload/delete:
    delete:
      tags:
      - "Upload"
      summary: "User Upload"
      description: "User Upload"
      operationId: "upload_delete"
      parameters:
      - name: "id"
        in: "query"
        description: "data"
        required: true
        type: "integer"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.upload_controller"
  /upload/filelist:
    get:
      tags:
      - "Upload"
      summary: "User Upload"
      description: "User Upload"
      operationId: "upload_filelist_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "starttime"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "endtime"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/keyword"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.upload_controller"
  /upload/file:
    post:
      tags:
      - "Upload"
      summary: "User Upload"
      description: "User Upload"
      operationId: "upload_file_post"
      consumes:
      - "multipart/form-data"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "files"
        in: "formData"
        description: "file data"
        required: false
        type: "file"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/UploadFile"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.upload_controller"
  /supplies/storage:
    get:
      tags:
      - "Supplies"
      summary: "Inventory list"
      description: "Inventory list"
      operationId: "supplies_storage_get"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "page number"
        required: true
        type: "string"
      - name: "size"
        in: "query"
        description: "Per page display quantity"
        required: true
        type: "string"
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "terminal type"
        required: false
        type: "string"
      - name: "model"
        in: "query"
        description: "Terminal model"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/storageList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
    post:
      tags:
      - "Supplies"
      summary: "Product warehousing"
      description: "Product warehousing"
      operationId: "supplies_storage_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/storageData"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
    put:
      tags:
      - "Supplies"
      summary: "Edit inventory"
      description: "Edit inventory"
      operationId: "supplies_storage_put"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/storageDataEdit"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
    delete:
      tags:
      - "Supplies"
      summary: "Delete inventory"
      description: "Delete inventory"
      operationId: "supplies_storage_delete"
      parameters:
      - name: "id"
        in: "query"
        description: "data"
        required: true
        type: "integer"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/storage/query/{code}:
    get:
      tags:
      - "Supplies"
      summary: "Inventory list"
      description: "Inventory list"
      operationId: "supplies_storage_query_code_get"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"
        description: "the starttime for user choose"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/storageQuery"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/storage/export:
    get:
      tags:
      - "Supplies"
      summary: "Inventory list"
      description: "Inventory list"
      operationId: "supplies_storage_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "terminal type"
        required: false
        type: "string"
      - name: "model"
        in: "query"
        description: "Terminal model"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/export"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/query/{code}:
    get:
      tags:
      - "Supplies"
      summary: "According to the challenge, check the terminal status"
      description: "According to the challenge, check the terminal status"
      operationId: "supplies_query_code_get"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"
        description: "Terminal barcode"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/SuppliesQuery"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/out:
    get:
      tags:
      - "Supplies"
      summary: "Inventory list"
      description: "Inventory list"
      operationId: "supplies_out_get"
      produces:
      - "application/json"
      parameters:
      - name: "model"
        in: "query"
        description: "Terminal model"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "page number"
        required: true
        type: "string"
      - name: "size"
        in: "query"
        description: "Per page display quantity"
        required: true
        type: "string"
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "business type"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/OutList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
    post:
      tags:
      - "Supplies"
      summary: "Product warehousing"
      description: "Product warehousing"
      operationId: "supplies_out_post"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "data"
        required: true
        schema:
          $ref: "#/definitions/OutData"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/out/export:
    get:
      tags:
      - "Supplies"
      summary: "Inventory list"
      description: "Inventory list"
      operationId: "supplies_out_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "model"
        in: "query"
        description: "Terminal model"
        required: false
        type: "string"
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "business type"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/export"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/use:
    get:
      tags:
      - "Supplies"
      summary: "Inventory list"
      description: "Inventory list"
      operationId: "supplies_use_get"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "page number"
        required: true
        type: "string"
      - name: "size"
        in: "query"
        description: "Per page display quantity"
        required: true
        type: "string"
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "business type"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/UseList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/use/upload:
    post:
      tags:
      - "Supplies"
      summary: "Install usage details import"
      description: "Install usage details import"
      operationId: "supplies_use_upload_post"
      consumes:
      - "multipart/form-data"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "files"
        in: "formData"
        description: "file data"
        required: false
        type: "file"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/use/export:
    get:
      tags:
      - "Supplies"
      summary: "Inventory list"
      description: "Inventory list"
      operationId: "supplies_use_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "business type"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/export"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/use/code/{id}:
    get:
      tags:
      - "Supplies"
      summary: "Query a few devices and barcodes in the current work order"
      description: "Query a few devices and barcodes in the current work order"
      operationId: "supplies_use_code_id_get"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID"
        required: true
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/UseCodes"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/maintain:
    get:
      tags:
      - "Supplies"
      summary: "maintain list"
      description: "maintain list"
      operationId: "supplies_maintain_get"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "page number"
        required: true
        type: "string"
      - name: "size"
        in: "query"
        description: "Per page display quantity"
        required: true
        type: "string"
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "terminal type"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/MaintainList"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/maintain/upload:
    post:
      tags:
      - "Supplies"
      summary: "Install usage details import"
      description: "Install usage details import"
      operationId: "supplies_maintain_upload_post"
      consumes:
      - "multipart/form-data"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "files"
        in: "formData"
        description: "file data"
        required: false
        type: "file"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
      x-swagger-router-controller: "swagger_server.controllers.supplies_controller"
  /supplies/maintain/export:
    get:
      tags:
      - "Supplies"
      summary: "maintain list"
      description: "maintain list"
      operationId: "supplies_maintain_export_get"
      produces:
      - "application/json"
      parameters:
      - name: "starttime"
        in: "query"
        description: "the starttime for user choose"
        required: false
        type: "string"
      - name: "endtime"
        in: "query"
        description: "the endtime for user choose"
        required: false
        type: "string"
      - name: "work"
        in: "query"
        description: "workstation"
        required: false
        type: "string"
      - name: "type"
        in: "query"
        description: "terminal type"
        required: false
        type: "string"
      - name: "keyword"
        in: "query"
        description: "keyword"
        required: false
        type: "string"
      responses:
        200:
          description: "return status"
          schema:
            $ref: "#/definitions/export"
        500:
          description: "return status"
          schema:
            $ref: "#/definitions/success"
[...]
